header {
    display: flex;
    justify-content: space-between;
    margin: 3rem 6.25rem;
    .header_nav {
        ul {
            list-style: none;
            display: flex;
            li {
                margin: 0 1rem;
                    &:hover {
                        text-decoration: underline;
                    }
            }
            .active-link {
                text-decoration: underline;
            }
        }
    }
}
