@use "../../styles/variables" as variables;

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_quality {
  display: flex;
  flex-direction: column;
  margin: 2rem 12.5rem;
}

@media screen and (max-width: 768px) {
  .about_quality {
    margin: variables.$margin-mobile;
    height: 100vh;
  }
}
