@use "../../styles/variables" as variables;

.about_quality {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 12.5rem;
}

@media screen and (max-width: 768px) {
  .about_quality {
    margin: variables.$margin-mobile;
    gap: 1rem;
    padding-bottom: 2rem;
  }
}
