@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as variables;

.quality {
  margin-bottom: 2rem;
  width: 100%;
  .quality_title {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: variables.$title-color;
    background-color: #ff6060;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
    h3 {
      font-size: 24px;
    }
    img {
      cursor: pointer;
      transition: transform 0.4s;
    }
    .open {
      transform: rotate(180deg);
    }
    .close {
      transform: rotate(0deg);
    }
    z-index: 1;
    position: relative;
  }
  .quality_content {
    z-index: 0;
    font-size: 18px;
    padding: 20px;
    background-color: #f6f6f673;
    border-radius: 10px 5px;
    margin: 0;
    animation: slideDown 0.3s ease-in-out;
  }
}

@keyframes slideDown {
  from {
    max-height: 0;
    transform: translateY(-1.5rem);
  }
  to {
    max-height: 1000px;
    transform: translateY(0);
  }
}

@media screen and (max-width: 425px) {
  .quality {
    margin-bottom: 1.2rem;
    display: inline-table;
    height: 30px;
    .quality_title {
      height: 10px;
      padding: 10px 0 10px 10px;
      h3 {
        margin: 0;
        font-size: 13px;
      }
      img {
        height: 16px;
        width: 9px;
        margin-right: 12px;
      }
    }
    .quality_content {
      margin: 0;
      font-size: 12px;
    }
  }
}
