@import "../../styles/main.scss";

header {
  @include margin;
  display: flex;
  justify-content: space-between;
  .header_nav {
    ul {
      list-style: none;
      display: flex;
      li {
        margin: 0 1rem;
        &:hover {
          text-decoration: underline;
        }
      }
      .active-link {
        text-decoration: underline;
      }
    }
  }
}
