@use "../../styles/mixins" as mixins;

header {
  @include mixins.margin;
  display: flex;
  justify-content: space-between;
  .header_nav {
    ul {
      list-style: none;
      display: flex;
      li {
        margin: 0 1rem;
        &:hover {
          text-decoration: underline;
        }
      }
      .active_link {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    font-size: 12px;
    $margin-mobile: 1.6rem;
  }
  img {
    width: 21rem;
    height: auto;
  }
}
