@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as variables;

.gallery {
  @include mixins.margin;
  background-color: #f6f6f6;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
  gap: 3rem;
  margin-top: 1.25rem;
}

@media (max-width: 768px) {
  .gallery {
    margin: variables.$margin-mobile;
    padding: 1.25rem;
    gap: 1rem;
  }
}
