footer {
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .footer_img {
    padding-top: 4.1rem;
    height: 2.44rem;
    width: 7.63rem;
  }
  .footer_copyright {
    color: white;
    padding-top: 1.8rem;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  footer {
    .footer_copyright {
      font-size: 12px;
      padding: 0;
      width: 132px;
      text-align: center;
    }
  }
}
