@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as variables;

.banner {
  @include mixins.banner-styles;
  position: relative;
  .banner_img {
    @include mixins.banner-image-styles;
  }
}
.banner_text {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: variables.$title-color;
  padding: 10px;
  text-align: center;
  font-weight: 700;
}

@media (max-width: 768px) {
  .banner {
    margin: variables.$margin-mobile;
    height: 6.9rem;
    .banner_img {
      height: 6.9rem;
      width: 100%;
    }
    .banner_text {
      font-size: 24px;
      width: 75%;
      left: 40%;
      text-align: start;
    }
  }
}
