@import "../../styles/main.scss";

.banner {
  @include banner-styles;
  .banner_img {
    @include banner-image-styles;
  }
  .banner_text {
    width: 100%;
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $title-color;
    padding: 10px;
    text-align: center;
    font-weight: 700;
  }
}
