@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as variables;

.property {
  @include mixins.margin;
  &_location {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.25rem;
  }
  &_title {
    margin: 0;
    font-size: 36px;
    color: variables.$primary-color;
    font-weight: 500;
  }
  p {
    margin: 0;
    font-size: 18px;
  }
  &_identity {
    display: flex;
    align-items: center;
    &_host {
      display: flex;
      flex-direction: column;
      text-align: end;
      color: variables.$primary-color;
      padding-right: 0.6rem;
    }
    &_img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }
  &_allTags {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    gap: 0.6rem;
    span {
      display: flex;
      gap: 0.6rem;
    }
  }
  &_tag {
    background-color: variables.$primary-color;
    padding: 0.4rem 1rem;
    border-radius: 50px;
    font-size: 14px;
    color: variables.$title-color;
    font-weight: 700;
  }
}

@media (max-width: 768px) {
  .property {
    &_location {
      flex-direction: column;
    }
    &_identity {
      align-items: end;
    }
  }
  .quality {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .property {
    margin: variables.$margin-mobile;
  }
}
