.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.7rem;
  &_404 {
    font-size: 288px;
    color: #ff6060;
    font-weight: 700;
  }
  &_message {
    font-size: 36px;
    color: #ff6060;
  }
  &_homeLink {
    font-size: 18px;
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .error {
    text-align: center;
    gap: 7rem;
    &_404 {
      margin-top: 7rem;
      font-size: 96px;
    }
    &_message {
      padding: 0 2rem;
      font-size: 18px;
    }
    &_homeLink {
      font-size: 14px;
    }
  }
}
